.calculator-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2%; 
    width: 90%; 
    max-width: 600px; 
    margin: 0 auto; 
  }

  .buttons-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* creates a 4-column layout */
    gap: 20px; /* adjust as needed */
    width: 100%;
    max-width: 400px;
    margin: 20px auto;
  }
  
  .buttons-grid button {
    height: 100px; /* adjust as needed */
    width: 100px; /* adjust as needed */
    background-color: white;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border: 2px solid transparent; /* Adjust border color as needed */
    cursor: pointer;
    /* Removed margin: 20; because it's invalid without units */
  }
  
  .buttons-grid button:hover, .buttons-grid button:focus {
    border-color: orange; /* highlight border on hover */
    background-color: transparent; /* keep background transparent on hover */
  }
  
  @media (max-width: 768px) {
    .buttons-grid {
      grid-template-columns: repeat(4, 1fr); /* keeps a 4-column layout */
    }
    .buttons-grid button {
      height: 60px; /* smaller size for smaller screens */
      width: 60px; /* smaller size for smaller screens */
    }
  }
  