/* Styles for Footer component */
.FooterSection {
    position:relative;
    margin-top: 0px;
    bottom: 0;
    width: 100%;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    display: flexbox;
    min-height: 10vh; 
}

.FooterSection ul {
    list-style-type:none;
    margin:0;
    padding: 0;
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-around;
}

.FooterSection li {
    display: inline;
    font-size: 3vh;
    margin: 2;

}

.FootLink {
    color:#fff;
}

.FootLink:hover{
    color: orange;
    border: 2;
}